{{ with resources.GetRemote "https://www.eventbrite.it/org/47224673793/showmore/?type=future" }}
  {{ $events := unmarshal .Content }}
  {{ range $events.data.events}}
    {{ $data := dict 
      "title" .name.text 
      "image" .logo.url 
      "type" "post" 
      "button_link" .url 
      "date" .start.local
      "description" .description.text
      "publishdate" "2024-03-05T00:00:00"
    }}
    {{ $data_string := jsonify $data }}
    {{ $filename := printf "events/%s.md" (urlize .slugified_name) }}
    {{ $resource := resources.FromString $filename $data_string }} 
    {{ $file := $resource.RelPermalink }}  
  {{ end }}
{{ end }}

{{ with resources.GetRemote "https://www.eventbrite.it/org/47224673793/showmore/?type=past" }}
  {{ $events := unmarshal .Content }}
  {{ range $events.data.events}}
    {{ $data := dict 
      "title" .name.text 
      "image" .logo.url 
      "type" "post" 
      "button_link" .url 
      "date" .start.local
      "description" .description.text
      "publishdate" "2024-03-05T00:00:00"
    }}
    {{ $data_string := jsonify $data }}
    {{ $filename := printf "events/%s.md" (urlize .slugified_name) }}
    {{ $resource := resources.FromString $filename $data_string }} 
    {{ $file := $resource.RelPermalink }}
  {{ end }}
{{ end }}
